#nome{
    font-size: 30px;
    font-family: monospace;
    text-transform: uppercase;
    color: blueviolet;}
    #texto{
        font-style: italic;}
       body{background-color: darkkhaki;}
          